

#texto{
	background-color:white;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.nav{
	padding-top:2rem;
	padding-bottom:0.5rem;
}
body{
  background-image: url(https://static.vecteezy.com/ti/fotos-gratis/t1/30323593-romantico-do-flores-em-uma-rosa-fundo-com-espaco-para-texto-generativo-ai-foto.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
